<h1>Greeting Web-Application</h1>

<form class="myForm" action="/add" method="post">

  <input type="text" name="name" Placeholder="Enter Name">
  <br>
  <br>
  <input type="submit" value="Greet">

</form>
<br><br>
<div class="output">
  {{massage}}
</div>
