
<div class="jumbotron">

   <h2 class="text-center">Greeting Web-Application</h2>
<form class="myForm" action="/greetings" method="post">
<div class="input-group">
  <span class="input-group-addon">Name</span>
   <label for="inputlg"></label>
  <input type="text" name="name" placeholder="Enter Name">
</div>
<br>
<div class="form-group">
  <input type="radio" name="languages" value="Hello  ">English
      <input type="radio" name="languages" value="Moloweni  " >IsiXhosa
<input type="radio" name="languages" value="Ni hao  ">Mandarin
</div>

 <button type="submit" class="btn btn-default" value="Greet">Submit</button>
 <a href='/reset'><button type="submit" name="Reset_counter">Reset_counter</a></button>
  <br><br>
<a href="/greeted">View All greeted</a>
</form>
<br><br>
<div id="output" class="text-center">
  <div class="">
    {{messages.error}}
  </div>
  {{#if massage}}
  {{massage}}
  {{/if}}
  <div class="success" color="green">
    {{messages.success}}
  </div>
  <div class="counter">
    {{counter}}
  </div>
</div>
</div>
