<h1>Greeting Web-Application</h1>

<form class="myForm" action="/" method="post">

  <input type="text" name="Name" Placeholder="Enter Name">
  <br>
  <br>
  <input type="submit" value="Greet">

</form>

<div class="output">

</div>
