<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>greetings</title>
  </head>
  <body>
    <h1>Greetings</h1>
<ul>
    {{#each greetings}}
<li>{{this}}</li>
    {{/each}}
  </ul>
  </body>
</html>
