<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>greetings</title>
  </head>
  <body>
    <div class="Mygreeting">
    <h1>Greetings</h1>

    <a href="/greetings">Add Name</a>
<ul>
    {{#each greetings}}
<a href = "/counter/{{this}}"><li>{{this}}</li></a>
    {{/each}}

  </ul>
  </div>
  </body>
</html>
