body{

  background-color: lightgreen;
}
.Mygreeting{
  background-color: white;
  width: 70%;
  margin: auto;
  padding: 1em;
  font-family: 'Arial';
}
.myForm{
  background-color: white;
  margin: auto;
  width: 70%;
  padding: 1em;
  font-family: 'Arial';

}
.output{
background-color: whitesmoke;
width: inherit;;
height: 50px;
margin: auto;
}
h1{
  margin: auto;
  padding: 1em;
  font-family: 'Arial';
}
